.card-trip {
  grid-gap: 16px;
  border-radius: 4px;
  max-width: 540px;
}

.card-trip p {
  font-size: 16px;
}

.content {
  padding-top: 72px;
  margin-left: 48px;
}

.inner-grid {
  display: grid;
  grid-template-columns: 53% 42%;
  gap: 8px;
}

.card-text {
  font-size: 24px;
}

#map {
  position: fixed;
  top: 0;
}

.garden-show-card {
  min-height: 100vh;
}

a {
  color: #000;
}
a:hover {
  text-decoration: none;
  color: #6D6E6A;
}

.link-color {
  color: #EDB455;
}
