.card-trip {
  grid-gap: 16px;
  border-radius: 4px;
  max-width: 540px;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 24px;
  margin-left: 24px;
}

.inner-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 24px;
}

#map {
  position: sticky;
  top: 0;
  margin-left: 24px;
}

.garden-show-card {
  min-height: 100vh;
}
