.card-trip {
  grid-gap: 16px;
  border-radius: 4px;
  max-width: 540px;
}

.card-trip p {
  font-size: 16px;
}

.content {
  padding-top: 72px;
  margin-left: 48px;
}

.inner-grid {
  display: grid;
  grid-template-columns: 53% 42%;
  gap: 8px;
}

.card-text {
  font-size: 24px;
}

#map {
  position: fixed;
  top: 0;
}

.garden-show-card {
  min-height: 100vh;
}

a {
  color: #353535;
}

a:hover {
  text-decoration: none;
  color: #6D6E6A;
}

.link-color {
  color: #EDB455;
}

.box {
  box-shadow: 2px 2px 3px 4px #ddd;
  padding: 24px;
  border-radius: 8px;
}

.card-garden {
  text-align: justify;
  padding-right: 40px;
  color: #232323;
  font-size: 14px;
  padding: 8px;
}

.form-booking {
  font-size: 14px;
  padding: 8px 16px;
}

.form-booking h4 {
  margin-bottom: 32px;
}

.form-booking .m {
  margin-top: 20px;
}
