<div class="container" style="padding-top: 72px;">
  <div class="container-flat">

    <div class="container-form">
      <div class="row justify-content-center">
        <div class="col-6">
          <h2 style="padding-bottom: 16px;"><%= @garden.title %></h2>
          <%= render 'form', garden: @garden %>
        </div>
      </div>
    </div>
  </div>
</div>
