<div class="content">
  <div class='inner-grid'>
    <% @gardens.each do |garden| %>
      <div class="card-trip">
        <%= cl_image_tag garden.photos.first.key, height: 200, width: 200, crop: :fill %>
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to garden.title, garden_path(garden) %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="map"
    style="width: 140%; height: 100vh"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
