<div class="card-container">
  <% @gardens.each do |garden| %>
    <div class="garden_card">
      <h3 class="garden_class_title"><%= link_to garden.title, garden_path(garden) %></h3>
      <%= cl_image_tag garden.photos.first.key, height: 300, width: 300, crop: :fill %>
    </div>
  <% end %>
</div>

  <div id="map"
    style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
