.button {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FCD490;
  transition: background 0.3s ease;
  border: none;
}

.btn-banner {
  color: white;
  padding: 8px 42px;
  border-radius: 6px;
  background: #EDB455;
  transition: background 0.3s ease;
  border: none;
}

.btn-banner:hover {
  background: #edbc6b;
}

.button:hover {
  background: #EDB455;
  text-decoration: none;
  color: white;
}


.button-text {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  line-height: 2;
}

.button_outline {
  color: black;
  padding: 8px 24px;
  margin-bottom: 24px;
  margin-right: 24px;
  border-radius: 4px;
  background: transparent;
  transition: background 0.3s ease;
  border: 2px solid #FCD490;
}

.button_outline-text {
  color: #6D6E6A
}

.button_outline-text:hover {
  color: black;
}
